@model NUS.TheAmagingRace.DAL.PitStop

<div id="dashboardMap" class="col-lg-6" style="width:700px;height:400px;background:#801334">
    <p>Map</p>
</div>

<script>
    $(document).ready(function () {
        showDashBoardMap();
    });
</script>